/**
 * Customisations for the group block.
*/

/* 1. GENERAL BLOCK CUSTOMISATIONS */
/* 2. CUSTOM CLASSES               */


/* 1. GENERAL BLOCK CUSTOMISATIONS */
.entry-content { 
	> .wp-block-group:not(.no-border) {
		border-top: $border-width solid var(--nv-text-color);
		border-bottom: $border-width solid var(--nv-text-color);
	}

	// If first block on page is group, remove top border.
	.wp-block-group:first-child {
		border-top: none;
	}

	// Group with group has max-width, allowing for a readable text.
	> .wp-block-group {
		&.align-wide, &.alignfull {

			.wp-block-group:first-of-type {

				@include media-breakpoint-up(lg) {
					max-width: 70%;
					margin: auto;
				}
			}
		}
	}
}

