/**
 * Tweaks and changes for the default Gutenberg cover block.
 * In this site, we expect the block to be inside the group block.
*/

.wp-block-cover {

	&.hide-image-on-mobile {
		
		img {
			display: none;
		
			@include media-breakpoint-up(md) {
				display: block;
			}
		}
	}
	&.hide-bg-on-mobile .wp-block-cover__background {
		
		@include media-breakpoint-down(sm) {
			background: none !important;
		}
	}
}

