/**
 * Customisations for gutenberg button blocks.
*/

// Overwrite default flow conditions.
.entry-content .wp-block-button + .wp-block-button {
	margin-top: 0;
}

.wp-block-button__link {
	min-height: 3rem; // Keep same standard height as form fields;
	border: $border-width solid black !important;
	
	&:hover {
		background-color: var(--nv-site-bg);
		color: var(--nv-text-color);
	}
}




