/* Styling for the blockquote (quotes) block */

$quote-border-color: $tgwf-green500;

/* 1. BLOCKQUOTE     */
/* 2. PULLQUOTE      */


/* 1. BLOCKQUOTE     */
blockquote::after,
blockquote::before {
	display: none;
}

blockquote.wp-block-quote {
	border-left: $border-width-thick solid $quote-border-color;
	font-weight: $bold-font-weight;
	padding-bottom: $small-spacing !important;

	> * {
		padding: 1rem;
	}

	em {
		font-style: normal;
	}	

	cite {
		font-family: $body-font;
		color: $tgwf-green400;
		padding-top: 0;
		padding-bottom: 0;

		&::before {
			content: '- ';
			display: inline-block;
			width: 1em;
			height: 1rem;
			margin-right: 0.5rem;
		}
	}

	&.is-style-large {
		padding: 0;
		
		p {
			@include media-breakpoint-down(sm) {
				font-size: 1.4rem;
			}
		}

		cite {
			text-align: left;
		}

		@include media-breakpoint-up(md) {
			padding-left: 1rem;
		}
	}

	&.is-style-default {
		p {
			font-size: 1.3em;
		}
	}
}


/* 2. PULLQUOTE      */
.wp-block-pullquote {
	font-size: var(--wp--preset--font-size--medium);
	border-top-color: $quote-border-color;
	border-bottom-color: $quote-border-color;
	margin-top: $medium-spacing;
	margin-bottom: $medium-spacing;

	@include media-breakpoint-up(md) {
		margin-top: $xl-spacing;
		margin-bottom: $xl-spacing;
	}
}