/**
 * Customsations to the columns layout
*/

.wp-block-columns {

	.wp-block-column {

		margin-bottom: 2rem;

		// 782px is theme breakpoint, not one of our standard ones.
		@media screen and (min-width: 782px) {
			border-right: $border-width solid var(--nv-text-color);
			padding-right: 2rem;
		}

		&:last-of-type {
			border: none;
		}

		> *:first-child {
			margin-top: 0;
		}

		> h2, > h3 {
			text-transform: uppercase;
			@extend .border-bottom;
			width: 100%;
		}

		p {
			padding: 1rem 0 0 0;
			margin: 0;
		}
	}

	&.gwf-columns__title-para-button {

		.wp-block-column {

			> h2, > h3 {
				border: none;
			}
			
			// Should be first child in hierarchy.
			.wp-block-group {
				border-bottom: $border-width solid black;

				// This should always be the heading element itself.
				> * > *:first-child {
					margin-top: 0;
					text-transform: uppercase;
				}
			}

			// 782px is theme breakpoint, not one of our standard ones.
			@media screen and (min-width: 782px) {
				display: flex;
				flex-direction: column;
				justify-content: center;

				// To get all the headings the same height, put them in a group block.
				.wp-block-group {
					min-height: rem(90px);
					
					// should be .wp-block-group__inner-container
					> * {
						display: flex;
						align-items: center;
						height: 100%;
						margin: 0 !important;
					}
				}

				.wp-block-buttons {
					flex: 1 0 auto;
				}
			}
		}
	}
}

