/**
 * Customsations to the columns layout
*/

.wp-block-columns {

	&:not(.no-border) .wp-block-column {
		// 782px is theme breakpoint, not one of our standard ones.
		@media screen and (min-width: 782px) {
			border-right: $border-width solid var(--nv-text-color);
			padding-right: 2rem;
		}

		&:last-of-type {
			border: none;
		}
	}

	.wp-block-column {
		margin-bottom: 2rem;

		> *:first-child {
			margin-top: 0;
		}

		> h2, > h3 {
			text-transform: uppercase;
			@extend .border-bottom;
			width: 100%;
		}

		p {
			padding: 1rem 0 0 0;
			margin: 0;
		}

		.hide-image-on-mobile {
			img {
		
				// Override styling in utilities file.
				@include media-breakpoint-up(md) {
					display: none;
				}

				@media screen and (min-width: 782px) {
					display: block;
				}
			}
		}
	}
}

