/**
 * Custom clasess that can be applied to Gutenberg blocks.
*/

/* 1. GENERAL CLASSES     */
/* 2. COLOUR CLASSES      */



/* 1. GENERAL CLASSES     */

// This should be in the theme but for some reason doesn't always apply.
// Sometimes it shows up as an inline style.
// It's here as backup.
.alignfull > [class*="__inner-container"],
.alignwide > [class*="__inner-container"] {
	margin-left: auto;
	margin-right: auto;
}
.alignfull > [class*="__inner-container"] {
	@include media-breakpoint-up(lg) {
		max-width: 70%;
	}
}


/* 2. COLOUR CLASSES      */


