/**
 * Custom clasess that can be applied to Gutenberg blocks.
*/

/* 1. GENERAL CLASSES     */
/* 2. COLOUR CLASSES      */



/* 1. GENERAL CLASSES     */

// This should be in the theme but for some reason doesn't always apply.
// Sometimes it shows up as an inline style.
// It's here as backup.
.alignfull > [class*="__inner-container"],
.alignwide > [class*="__inner-container"] {
	margin: auto;
}
.alignfull > [class*="__inner-container"] {
	@include media-breakpoint-up(lg) {
		max-width: 70%;
	}
}

div[class*="__inner-container"] {

	.has-background & {
		padding: rem($medium-spacing) 0;
		margin-top: rem($large-spacing);
		margin-bottom: rem($large-spacing); 
	}

}


/* 2. COLOUR CLASSES      */


