/**
 * Colour variables.
*/

$tgwf-orange: #CF5D0D;
$tgwf-lightgrey: #F4F3F2;
$tgwf-darkdarkgreen: #17260B;
$tgwf-text: #151413;
$tgwf-blue: #012BC0;

$tgwf-green300: #476F22;
$tgwf-green400: #5A8C2C;
$tgwf-green500: #65B54C;
$tgwf-green700: #B7DF95;
$tgwf-green800: #E5F4D9;

$tgwf-yellow700: #FFE066;
$tgwf-yellow800: #FFEB99;
$tgwf-yellow900: #FFF5CC;
