/**
 * Colour variables.
*/

/* For ref */
// --nv-primary-accent: #3cff00;
// --nv-secondary-accent: #0066ff;
// --nv-site-bg: #ffffff;
// --nv-light-bg: #f4f3f2;
// --nv-dark-bg: #145314;
// --nv-text-color: #000000;
// --nv-text-dark-bg: #ffffff;
// --nv-c-1: #cb2cff;
// --nv-c-2: #ffe600;

$tgwf-green300: #86EF86;
$tgwf-green400: #4ADE4A;
$tgwf-green500: #00FF00;
$tgwf-green700: #158015;
$tgwf-green800: #166516;

$tgwf-yellow100: #FEFBE2;
$tgwf-yellow200: #FEF9CA;
$tgwf-yellow400: #F8EB71;
$tgwf-yellow700: #B47E09;
$tgwf-yellow800: #92680E;
$tgwf-yellow900: #78570F;

//Gradients
.has-white-to-primary-gradient-background {
	background: linear-gradient(145deg, rgb(255,255,255) 15%, rgb(0,255,0) 100%);

	a:not(.button):not(.wp-block-file__button):not(.wp-block-button__link) {
		&:before {
			background: linear-gradient( 90deg, rgba(20,83,20,1) 30%, rgba(255,255,255,1) 100% ) !important;
		}
	}
}
.has-primary-to-white-gradient-background {
	background: linear-gradient(145deg, rgb(0,255,0) 15%, rgb(255,255,255) 100%);

	
	a:not(.button):not(.wp-block-file__button):not(.wp-block-button__link) {
		&:before {
			background: linear-gradient( 90deg, rgba(20,83,20,1) 30%, rgba(255,255,255,1) 100% ) !important;
		}
	}
}

.has-white-to-orange-gradient-background {
	background: linear-gradient(145deg, rgb(255,255,255) 15%, rgb(250,170,0) 100%);

	a:not(.button):not(.wp-block-file__button):not(.wp-block-button__link) {
		&:before {
			background: linear-gradient( 90deg, rgba(20,83,20,1) 30%, rgba(255,255,255,1) 100% ) !important;
		}
	}
}



