/**
 * Colour variables.
*/

$tgwf-green: #55AA3C;
$tgwf-orange: #CF5D0D;
$tgwf-lightgrey: #F4F3F2;
$tgwf-darkdarkgreen: #17260B;
$tgwf-text: #151413;
$tgwf-blue: #012BC0;
$tgwf-forestgreen: #4A7C21;

$tgwf-green700: #B7DF95;
$tgwf-green800: #E5F4D9;
