/**
 * Base layout styles.
 * These are largely going to be affected the outer most containers of each page.
*/

.entry-content {

	div[class*="wp-block-"] {
		margin-top: rem($medium-spacing);

		@include media-breakpoint-up(md) {
			margin-top: rem($large-spacing);	
		}

		// We want the top most element to butt up under the header.
		&:first-child {
			margin-top: 0;
		}
		// We want the bottom most element to butt up under the footer.
		&:last-child {
			border-bottom: 0;
		}

		> div[class*="__inner-container"] {
			padding-top: rem($medium-spacing);
			padding-bottom: rem($medium-spacing);

			@include media-breakpoint-up(md) {
				padding-top: rem($large-spacing);	
				padding-bottom: rem($large-spacing);
			}
		}
	}

	div[class*="has-background"],
	div.wp-block-cover {

		> div[class*="__inner-container"] {
			padding-top: 0;
			padding-bottom: 0;
		}

		// Consequective background coloured areas should butt up against each other.
		+ div[class*="has-background"] {
			margin-top: 0;
		}		

		// Columns inside coloured areas.
		.wp-block-columns {
			margin-bottom: 0;
		}
		// 782px is theme breakpoint, not one of our standard ones.
		@media screen and (min-width: 782px) {
			.wp-block-column {
				margin-bottom: 0;
			}
		}
	}

	p, ol, ul {
		+ .wp-block-buttons {
			margin-top: 1.5rem;
		}
	}

	// Section blocks followed by text need spacing.
	> .wp-block-cover,
	> .wp-block-group {
		+ p, + ol, + ul,
		+ figure {
			margin-top: rem($medium-spacing);

			@include media-breakpoint-up(md) {
				margin-top: rem($large-spacing);	
			}
		}
	}
}

.wp-block-buttons + h3 {
	margin-top: rem($medium-spacing);
}

h2 + h3 {
	margin-top: 1rem;
}

p + h2,
.wp-block-buttons + p,
.wp-block-buttons + h2,
.wp-block-media-text + .wp-block-media-text {
	margin-top: $medium-spacing;

	@include media-breakpoint-up(md) {
		margin-top: rem($xl-spacing);	
	}
}
