/* Font definitions */

@font-face {
    font-family: 'miso';
    src: url('../fonts/miso/miso-webfont.woff2') format('woff2'),
         url('../fonts/miso/miso-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caveatreg';
    src: url('../fonts/caveat/caveat-regular-webfont.woff2') format('woff2'),
         url('../fonts/caveat/caveat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
