/**
 * Styling overrides for basic HTML elements.
*/

body {
	// font-family: $body-font;
	// font-weight: $default-font-weight;
	// color: $default-font-colour;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
	// font-weight: $bold-font-weight;

	> a {
		text-decoration: none;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

h2 {
	margin-top: rem($medium-spacing);

	@include media-breakpoint-up(md) {
		margin-top: rem($large-spacing);	
	}
}

h3 {
	margin-top: rem($medium-spacing);

	@include media-breakpoint-up(md) {
		margin-top: rem($large-spacing);	
	}
}

h4 {
	margin-top: 1.3rem;

	@include media-breakpoint-up(md) {
		margin-top: 1.5rem;	
	}
}
p {
	margin-bottom: 1rem;
}

