/** Common styles in the Neve theme that we'd like to overwrite. */

.nv-index-posts,
.nv-single-page-wrap,
.nv-single-post-wrap {
	margin-bottom: 0;
}

.nv-page-title-wrap.nv-big-title .nv-page-title {
	border-width: 0;
	margin: 1rem 0;

	@include media-breakpoint-up( sm ) {
		margin: 2rem 0;
	}
}

.nv-content-wrap {
	margin-top: rem($small-spacing);

	@include media-breakpoint-up( sm ) {
		margin-top: $medium-spacing;
	}

	> *:last-child {
		margin-bottom: 2rem;
		
		@include media-breakpoint-up( sm ) {
			margin-bottom: 3rem;
		}
	}
}

.nv-page-title-wrap + .nv-content-wrap {
	margin-top: 0;
}

.nv-comment-content a,
.nv-content-wrap a:not(.button):not(.wp-block-file__button):not(.wp-block-button__link),
.wp-block-post-content a:not(.button):not(.wp-block-file__button):not(.wp-block-button__link),
.entry-summary a,
.fellowship-post__content-widget-container a,
.nv-post-navigation a {
	color: var(--nv-text-color);
	text-decoration: none;
	background-image: linear-gradient( 90deg, rgba(0,255,0,1) 30%, rgba(20,83,20,1) 100% );
	background-repeat: repeat-x;
	background-size: 100% 2px;
	background-position: 0 95%;

	&:hover {
		color: white;
		background: var(--nv-text-color);
	}
}