/** Common styles in the Neve theme that we'd like to overwrite. */

.nv-page-title-wrap.nv-big-title .nv-page-title {
	border-width: 0;
}

.nv-content-wrap {
	margin-top: rem($small-spacing);

	@include media-breakpoint-up( sm ) {
		margin-top: $medium-spacing;
	}
}

.nv-page-title-wrap + .nv-content-wrap {
	margin-top: 0;
}