/* Useful classes that can be reused in all sorts of great places */

// Force an element to become the full-width of the screen.
@mixin force-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.full-width, .alignfull {
	@include force-full-width;
}
