/* Useful classes that can be reused in all sorts of great places */

.reading-width {
	max-width: $reading-width;
}

// Also an override in wp-block-cols, check there.
.hide-image-on-mobile {
	img {
		display: none;

		@include media-breakpoint-up(md) {
			display: block;
		}
	}
}

/* Padding    */
.pt-0 {
	padding-top: 0;
}

.pb-0, .no-padding-bottom {
	padding-bottom: 0 !important;
}
.pb-4 {
	padding-bottom: 1rem;
}
.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/* Margin      */

// We have the more verbose version for content editors.
.mt-0, .no-margin-top {
	margin-top: 0 !important;
}

.mb-0, .no-margin-bottom {
	margin-bottom: 0 !important;
}



/* Border      */
.no-border-top {
	border-top: none !important;
}
.no-border-bottom {
	border-bottom: none !important;
}

.border-top {
	border-top: $border-width solid var(--nv-text-color);
}
.border-bottom {
	border-bottom: $border-width solid var(--nv-text-color);
}
.border-right {
	border-right: $border-width solid var(--nv-text-color);
}
.border-left {
	border-left: $border-width solid var(--nv-text-color);
}
