/* Useful classes that can be reused in all sorts of great places */

/* Padding    */
.pt-0 {
	padding-top: 0;
}

.pb-4 {
	padding-bottom: 1rem;
}


/* Margin      */
.mt-0 {
	margin-top: 0;
}


/* Border      */
.border-bottom {
	border-bottom: $border-width solid var(--nv-text-color);
}
.border-top {
	border-top: $border-width solid var(--nv-text-color);
}