/**
 * Variables for use throughout the rest of the SASS partials.
*/


// Commonly used layout dimensions.
$border-width: 2px;
$border-width-thick: 4px;

$border-radius: 2rem;

$reading-width: 800px;

// $icon-size: 40px;

$small-spacing: 1rem;
$medium-spacing: 2rem;
$large-spacing: 3rem;