/**
 * Variables for use throughout the rest of the SASS partials.
*/


// Commonly used layout dimensions.
// $border-thickness: 4px;
// $border-radius: 40px;

// $reading-width: 700px;

// $icon-size: 40px;

$small-spacing: 15px;
$medium-spacing: 30px;
$large-spacing: 60px;