/**
 * Styling / layout for the header
*/

.hfg_header {
	.nv-navbar {
		border-bottom: $border-width solid var(--nv-text-color);
	}

	.header-bottom-inner {
		background-color: var(--nv-primary-accent) !important;
		border-bottom: $border-width solid var(--nv-text-color);
	}
}