/**
 * Styling and layout for the footer.
*/

.site-footer {
	
	.footer-top-inner {
		padding-top: rem($medium-spacing);
		padding-bottom: rem($medium-spacing);
	}
	.footer-bottom-inner {
		// padding-bottom: rem($medium-spacing);
	}

	.hfg-slot {
		margin-bottom: rem($medium-spacing);

		@include media-breakpoint-up( md ) {
			margin-bottom: 0;
		}
	}

	a {
		text-decoration: underline;
	}
}

.footer--row .footer--row-inner .container .row {
	align-items: flex-start;
}