/**
 * Styling common across all navigations menus,
 * even if we have to target lots of CSS classes specifically.
*/

.nav-ul .sub-menu {
	li > a {
		justify-content: flex-start;
	}
}

.nav-menu-primary {
	li.menu-item {
		a {
			text-decoration: none;
		}
	}

	.wp-block-button__link.menu-item {
		border-radius: 4px;
		padding: 6px rem($small-spacing);

		&:hover {
			background-color: darken( $tgwf-forestgreen, 5% );
		}
		a {
			color: white !important;
			font-size: 1rem;
			font-weight: $bold-font-weight;
		}
	}
}