/**
 * Pagination styling
*/

.nv-index-posts {
	a.page-numbers,
	span.page-numbers {
		display: inline-block;
		padding: 0.25rem 0.75rem;
		background-color: var(--nv-text-color);
		color: white;
		font-weight: bold;
		border-radius: 0.5rem;
	}
	span.page-numbers {
		background-color: var(--nv-light-bg);
		color: var(--nv-text-color);
	}
	a.next, a.prev {
		background-color: var(--nv-primary-accent);
		color: var(--nv-text-color);
	}
}