/* Summary highlight block */

.summary-highlight {
	border-top: 1px solid $tgwf-lightgrey;
	border-bottom: 1px solid $tgwf-lightgrey;
	margin: rem($small-spacing) 0 rem($medium-spacing);
	padding: rem($small-spacing) 0;

	@include media-breakpoint-up( md ) {
		margin: rem($medium-spacing) 0 rem($large-spacing);
		padding: rem($medium-spacing) 0;
	}
}