/**
 * Styling for .wp-block-post-excerpt
*/

.wp-block-post-excerpt__more-link,
.wp-block-latest-posts__post-excerpt a{
	display: inline-block;
	text-decoration: none;
	background-image: linear-gradient( 270deg, rgba(0,255,0,1) 30%, rgba(20,83,20,1) 100% );
	background-repeat: repeat-x;
	background-size: 100% 2px;
	background-position: 0 95%;
}