/**
* Sass function and mixin to use rem units with optional pixel fallback.
* Author: Pierre Burel
* Source: https://github.com/pierreburel/sass-rem
*/
/**
 * Colour variables.
*/
/* For ref */
.has-white-to-primary-gradient-background {
  background: linear-gradient(145deg, rgb(255, 255, 255) 15%, rgb(0, 255, 0) 100%);
}

.has-primary-to-white-gradient-background {
  background: linear-gradient(145deg, rgb(0, 255, 0) 15%, rgb(255, 255, 255) 100%);
}

.has-white-to-blue-gradient-background {
  background: linear-gradient(145deg, rgb(255, 255, 255) 15%, rgb(0, 102, 255) 100%);
}

.has-white-to-orange-gradient-background {
  background: linear-gradient(145deg, rgb(255, 255, 255) 15%, rgb(250, 170, 0) 100%);
}

/**
 * Variables for use throughout the rest of the SASS partials.
*/
/* Font definitions */
@font-face {
  font-family: "twkeverett";
  src: url("../fonts/twkeverett/twkeverett-regular.woff2") format("woff2"), url("../fonts/twkeverett/twkeverett-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "twkeverett";
  src: url("../fonts/twkeverett/twkeverett-regularitalic.woff2") format("woff2"), url("../fonts/twkeverett/twkeverett-regularitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
/**
 * Default typography styles and variables.
 * Overrides of key TwentyTwenty typography styles.
*/
/* Default typography styles and variables */
/**
 * Styling overrides for basic HTML elements.
*/
body {
  word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "twkeverett", sans-serif;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 2rem;
}
@media (min-width: 700px) {
  h2 {
    margin-top: 3rem;
  }
}

h3 {
  margin-top: 2rem;
}
@media (min-width: 700px) {
  h3 {
    margin-top: 3rem;
  }
}

h4 {
  margin-top: 1.3rem;
}
@media (min-width: 700px) {
  h4 {
    margin-top: 1.5rem;
  }
}

p {
  margin-bottom: 1rem;
}

/* Useful classes that can be reused in all sorts of great places */
.reading-width {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.hide-image-on-mobile img {
  display: none;
}
@media (min-width: 700px) {
  .hide-image-on-mobile img {
    display: block;
  }
}

/* Padding    */
.pt-0 {
  padding-top: 0;
}

.pb-0, .no-padding-bottom {
  padding-bottom: 0 !important;
}

.pb-4 {
  padding-bottom: 1rem;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Margin      */
.mt-0, .no-margin-top {
  margin-top: 0 !important;
}

.mb-0, .no-margin-bottom {
  margin-bottom: 0 !important;
}

/* Border      */
.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.border-top {
  border-top: 2px solid var(--nv-text-color);
}

.border-bottom {
  border-bottom: 2px solid var(--nv-text-color);
}

.border-right {
  border-right: 2px solid var(--nv-text-color);
}

.border-left {
  border-left: 2px solid var(--nv-text-color);
}

/**
 * Base layout styles.
 * These are largely going to be affected the outer most containers of each page.
*/
.entry-content div[class*=wp-block-] {
  margin-top: 2rem;
}
@media (min-width: 700px) {
  .entry-content div[class*=wp-block-] {
    margin-top: 3rem;
  }
}
.entry-content div[class*=wp-block-]:first-child {
  margin-top: 0;
}
.entry-content div[class*=wp-block-]:last-child {
  border-bottom: 0;
}
.entry-content div[class*=wp-block-] > div[class*=__inner-container] {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (min-width: 700px) {
  .entry-content div[class*=wp-block-] > div[class*=__inner-container] {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.entry-content div[class*=has-background] > div[class*=__inner-container],
.entry-content div.wp-block-cover > div[class*=__inner-container] {
  padding-top: 0;
  padding-bottom: 0;
}
.entry-content div[class*=has-background] + div[class*=has-background],
.entry-content div.wp-block-cover + div[class*=has-background] {
  margin-top: 0;
}
.entry-content div[class*=has-background] .wp-block-columns,
.entry-content div.wp-block-cover .wp-block-columns {
  margin-bottom: 0;
}
@media screen and (min-width: 782px) {
  .entry-content div[class*=has-background] .wp-block-column,
  .entry-content div.wp-block-cover .wp-block-column {
    margin-bottom: 0;
  }
}
.entry-content p + .wp-block-buttons, .entry-content ol + .wp-block-buttons, .entry-content ul + .wp-block-buttons {
  margin-top: 1.5rem;
}
.entry-content > .wp-block-cover + p, .entry-content > .wp-block-cover + ol, .entry-content > .wp-block-cover + ul,
.entry-content > .wp-block-cover + figure,
.entry-content > .wp-block-group + p,
.entry-content > .wp-block-group + ol,
.entry-content > .wp-block-group + ul,
.entry-content > .wp-block-group + figure {
  margin-top: 2rem;
}
@media (min-width: 700px) {
  .entry-content > .wp-block-cover + p, .entry-content > .wp-block-cover + ol, .entry-content > .wp-block-cover + ul,
  .entry-content > .wp-block-cover + figure,
  .entry-content > .wp-block-group + p,
  .entry-content > .wp-block-group + ol,
  .entry-content > .wp-block-group + ul,
  .entry-content > .wp-block-group + figure {
    margin-top: 3rem;
  }
}

.wp-block-buttons + h3 {
  margin-top: 2rem;
}

h2 + h3 {
  margin-top: 1rem;
}

p + h2,
.wp-block-buttons + p,
.wp-block-buttons + h2,
.wp-block-media-text + .wp-block-media-text {
  margin-top: 2rem;
}
@media (min-width: 700px) {
  p + h2,
  .wp-block-buttons + p,
  .wp-block-buttons + h2,
  .wp-block-media-text + .wp-block-media-text {
    margin-top: 4rem;
  }
}

/* Basic layout functions, widths etc */
.alignwide {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 700px) {
  .alignwide {
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1170px) {
  .alignwide {
    width: 1170px;
    max-width: none;
    margin-left: calc(50% - 585px);
  }
}

/* Override Neve inline styles */
#content.neve-main .container .alignfull > [class*=__inner-container],
#content.neve-main .container .alignwide > [class*=__inner-container] {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 960px) {
  #content.neve-main .container .alignfull > [class*=__inner-container],
  #content.neve-main .container .alignwide > [class*=__inner-container] {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
  }
}
@media (min-width: 1170px) {
  #content.neve-main .container .alignfull > [class*=__inner-container],
  #content.neve-main .container .alignwide > [class*=__inner-container] {
    max-width: 1170px;
  }
}

/** Common styles in the Neve theme that we'd like to overwrite. */
.nv-index-posts,
.nv-single-page-wrap,
.nv-single-post-wrap {
  margin-top: 0;
  margin-bottom: 0;
}

.nv-index-posts .nv-page-title-wrap,
.nv-page-title-wrap {
  margin-top: 2rem;
}
@media (min-width: 700px) {
  .nv-index-posts .nv-page-title-wrap,
  .nv-page-title-wrap {
    margin-top: 4rem;
  }
}
.nv-index-posts .nv-page-title-wrap.nv-big-title .nv-page-title,
.nv-page-title-wrap.nv-big-title .nv-page-title {
  border-width: 0;
}

.nv-content-wrap {
  margin-top: 2rem;
}
@media (min-width: 576px) {
  .nv-content-wrap {
    margin-top: 4rem;
  }
}
.nv-content-wrap > *:last-child {
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  .nv-content-wrap > *:last-child {
    margin-bottom: 3rem;
  }
}

.nv-page-title-wrap + .nv-content-wrap {
  margin-top: 0;
}

.nv-comment-content a,
.nv-content-wrap a:not(.button):not(.wp-block-file__button):not(.wp-block-button__link),
.wp-block-post-content a:not(.button):not(.wp-block-file__button):not(.wp-block-button__link),
.fellowship-post__content-widget-container a,
.nv-post-navigation a {
  color: var(--nv-text-color);
}
.nv-comment-content a:hover,
.nv-content-wrap a:not(.button):not(.wp-block-file__button):not(.wp-block-button__link):hover,
.wp-block-post-content a:not(.button):not(.wp-block-file__button):not(.wp-block-button__link):hover,
.fellowship-post__content-widget-container a:hover,
.nv-post-navigation a:hover {
  color: white;
  background: var(--nv-text-color);
}

/**
 * Custom clasess that can be applied to Gutenberg blocks.
*/
/* 1. GENERAL CLASSES     */
/* 2. COLOUR CLASSES      */
/* 1. GENERAL CLASSES     */
.alignfull {
  padding-right: 0;
  padding-left: 0;
}

.alignfull > [class*=__inner-container],
.alignwide > [class*=__inner-container] {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 960px) {
  .alignfull > [class*=__inner-container] {
    max-width: 70%;
  }
}

/* 2. COLOUR CLASSES      */
/**
 * Customisations for the group block.
*/
/* 1. GENERAL BLOCK CUSTOMISATIONS */
/* 2. CUSTOM CLASSES               */
/* 1. GENERAL BLOCK CUSTOMISATIONS */
.entry-content > .wp-block-group:not(.no-border) {
  border-top: 2px solid var(--nv-text-color);
  border-bottom: 2px solid var(--nv-text-color);
}
.entry-content .wp-block-group:first-child {
  border-top: none;
}
@media (min-width: 960px) {
  .entry-content > .wp-block-group.align-wide .wp-block-group:first-of-type:not(.alignwide), .entry-content > .wp-block-group.alignfull .wp-block-group:first-of-type:not(.alignwide) {
    max-width: 70%;
    margin: auto;
  }
}

/**
 * Tweaks and changes for the default Gutenberg cover block.
 * In this site, we expect the block to be inside the group block.
*/
.wp-block-cover {
  border-bottom: solid 2px black;
}
.wp-block-cover.hide-image-on-mobile img {
  display: none;
}
@media (min-width: 700px) {
  .wp-block-cover.hide-image-on-mobile img {
    display: block;
  }
}
@media (max-width: 699.98px) {
  .wp-block-cover.hide-bg-on-mobile .wp-block-cover__background {
    background: none !important;
  }
}

/**
 * Customisations for gutenberg button blocks.
*/
.entry-content .wp-block-button + .wp-block-button {
  margin-top: 0;
}

.wp-block-button__link {
  min-height: 3rem;
  border: 2px solid black !important;
}
.wp-block-button__link:hover {
  background-color: var(--nv-site-bg);
  color: var(--nv-text-color);
}

/* Styling for the blockquote (quotes) block */
/* 1. BLOCKQUOTE     */
/* 2. PULLQUOTE      */
/* 1. BLOCKQUOTE     */
blockquote::after,
blockquote::before {
  display: none;
}

blockquote.wp-block-quote {
  border-left: 4px solid #00FF00;
  font-weight: 700;
  padding-bottom: 1rem !important;
}
blockquote.wp-block-quote > * {
  padding: 1rem;
}
blockquote.wp-block-quote em {
  font-style: normal;
}
blockquote.wp-block-quote cite {
  font-family: "twkeverett", sans-serif;
  color: #4ADE4A;
  padding-top: 0;
  padding-bottom: 0;
}
blockquote.wp-block-quote cite::before {
  content: "- ";
  display: inline-block;
  width: 1em;
  height: 1rem;
  margin-right: 0.5rem;
}
blockquote.wp-block-quote.is-style-large {
  padding: 0;
}
@media (max-width: 699.98px) {
  blockquote.wp-block-quote.is-style-large p {
    font-size: 1.4rem;
  }
}
blockquote.wp-block-quote.is-style-large cite {
  text-align: left;
}
@media (min-width: 700px) {
  blockquote.wp-block-quote.is-style-large {
    padding-left: 1rem;
  }
}
blockquote.wp-block-quote.is-style-default p {
  font-size: 1.3em;
}

/* 2. PULLQUOTE      */
.wp-block-pullquote {
  font-size: var(--wp--preset--font-size--medium);
  border-top-color: #00FF00;
  border-bottom-color: #00FF00;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 700px) {
  .wp-block-pullquote {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

/* 1. GENERAL             */
/* 2. QUESTION STYLING    */
/* 3. ANSWER STYLING      */
.schema-faq-section {
  position: relative;
}
.schema-faq-section:hover {
  cursor: pointer;
}
.schema-faq-section:before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  background-color: var(--nv-primary-accent);
}
@media (min-width: 700px) {
  .schema-faq-section:before {
    margin: 2rem 0;
  }
}
.block-editor-block-list__block .schema-faq-section:before {
  background-color: transparent;
  margin-top: 0;
}
.schema-faq-section:last-of-type {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--nv-primary-accent);
}
@media (min-width: 700px) {
  .schema-faq-section:last-of-type {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}

/* 2. QUESTION STYLING    */
.schema-faq-question {
  display: block;
  padding-right: 2.2rem;
  margin-bottom: 0.6rem;
  font-family: "twkeverett", sans-serif;
  line-height: 1.3;
}
.schema-faq-question:not(.block-editor-rich-text__editable):after {
  content: "";
  position: absolute;
  top: 1.3rem;
  right: 0;
  height: 30px;
  width: 30px;
  transform: rotate(0deg);
  transition: transform 0.3s linear;
  background-image: url("../img/caret-down.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (min-width: 700px) {
  .schema-faq-question:not(.block-editor-rich-text__editable):after {
    top: 2.3rem;
  }
}
.is-open .schema-faq-question:not(.block-editor-rich-text__editable)::after {
  transform: rotate(180deg);
}

/* 3. ANSWER STYLING    */
.schema-faq-answer:not(.block-editor-rich-text__editable) {
  display: none;
  margin: 1rem 0;
}
.is-open .schema-faq-answer:not(.block-editor-rich-text__editable) {
  display: block;
}
.schema-faq-answer.block-editor-rich-text__editable {
  margin-bottom: 2rem !important;
}
.schema-faq-section:last-of-type .schema-faq-answer:not(.block-editor-rich-text__editable) {
  margin-bottom: 0;
}

/* Styles for default embed block, eg for videos */
.wp-block-embed {
  margin: 2rem 0;
}
@media (min-width: 700px) {
  .wp-block-embed {
    margin: 4rem 0;
  }
}

/* Styling and customisations for images. */
.wp-block-image figure > a {
  background-image: none !important;
}
.wp-block-image figure > a:hover {
  background: none !important;
}

/* Styling customisations for the default separator block. */
hr.wp-block-separator {
  margin-top: 2rem;
}
@media (min-width: 700px) {
  hr.wp-block-separator {
    margin-top: 3rem;
  }
}

h3[class*=gwf-iconbg-] {
  position: relative;
  padding-left: 4rem;
}
h3[class*=gwf-iconbg-]:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  height: 50px;
  width: 50px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gwf-iconbg-sunburst--black:before {
  background-image: url("../img/gwf-brand-icons/GWF-icon-sunburst--black.svg");
}

.gwf-iconbg-sunburst--green:before {
  background-image: url("../img/gwf-brand-icons/GWF-icon-sunburst--green.svg");
}

.gwf-iconbg-plant--black:before {
  background-image: url("../img/gwf-brand-icons/GWF-icon-plant--black.svg");
}

.gwf-iconbg-lightning--black:before {
  background-image: url("../img/gwf-brand-icons/GWF-icon-lightning--black.svg");
}

.gwf-iconbg-lightning--purple:before {
  background-image: url("../img/gwf-brand-icons/GWF-icon-lightning--purple.svg");
}

.wp-block-group.logo-grid {
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}
@media (min-width: 576px) {
  .wp-block-group.logo-grid {
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
@media (min-width: 960px) {
  .wp-block-group.logo-grid {
    column-gap: 3rem;
    row-gap: 3rem;
  }
}
.entry-content .wp-block-group.logo-grid > * + * {
  margin-top: 0;
}

.wp-block-group.gwf-testimonials--three {
  padding: 3rem 1rem;
}
@media (min-width: 960px) {
  .wp-block-group.gwf-testimonials--three {
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0 1rem;
  }
}
.wp-block-group.gwf-testimonials--three .wp-block-group {
  width: 100%;
  max-width: 600px !important;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 960px) {
  .wp-block-group.gwf-testimonials--three .wp-block-group {
    padding: 0 1rem;
    display: grid;
    grid-row: 1/-1;
    grid-template-rows: subgrid;
  }
}
@media (min-width: 960px) {
  .wp-block-group.gwf-testimonials--three .wp-block-group + .wp-block-group {
    margin-top: 0;
  }
}
.wp-block-group.gwf-testimonials--three .wp-block-group p.quote {
  height: 100%;
  background-color: white;
  border-radius: 1rem;
  border: 2px solid var(--nv-text-color);
  padding: 1rem;
  position: relative;
}
@media (min-width: 960px) {
  .wp-block-group.gwf-testimonials--three .wp-block-group p.quote {
    grid-row: 1;
  }
}
.wp-block-group.gwf-testimonials--three .wp-block-group p.quote::before, .wp-block-group.gwf-testimonials--three .wp-block-group p.quote::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: calc(50% - 15px);
  display: block;
  width: 10px;
  height: 10px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
}
.wp-block-group.gwf-testimonials--three .wp-block-group p.quote::before {
  border-top-color: black;
  bottom: -17px;
}
.wp-block-group.gwf-testimonials--three .wp-block-group figure {
  margin-top: 1.5rem;
}
@media (min-width: 960px) {
  .wp-block-group.gwf-testimonials--three .wp-block-group figure {
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 960px) {
  .wp-block-group.gwf-testimonials--three .wp-block-group p.source {
    grid-row: 3;
  }
}

/*# sourceMappingURL=editor-styles.css.map */
