// Styling and layout tweaks for single fellowship post.

.fellowship-post__header {
	position: relative;
	margin-top: rem($medium-spacing);
	margin-bottom: rem($medium-spacing);	

	@include media-breakpoint-up(md) {
		margin-top: rem($large-spacing);
		margin-bottom: rem($large-spacing);
	}
}

.fellowship-post__category {
	background-color: var(--nv-c-2);
	font-weight: $bold-font-weight;
	display: inline-block;
	padding: 0.3rem 0.8rem;
	position: absolute;
	margin-top: -1rem;
	margin-left: 1rem;
	text-transform: uppercase;

	@include media-breakpoint-up(md) {
		margin-left: 2rem;
	}

	&:hover {
		background-color: var(--nv-text-color);
	}

	a {
		color: var(--nv-text-color);
		background: none;
	}
}

.fellowship-post__content-widget-container {
	background-color: $tgwf-yellow100;
	border: $border-width solid var(--nv-text-color);

	> * > * {
		padding-right: 1rem;
		padding-left: 1rem;

		@include media-breakpoint-up(md) {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		&:first-child {
			.fellowship-post__header & {
				margin-top: 1rem;
			}
		}

		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
	}

	h1, h2, h3, h4, h5 {
		margin-top: 0;
		text-transform: uppercase;
	}
	
	a {

	}
}