/**
 * Customisations for the homepage only.
*/

/* 1. HOMEPAGE NAV STYLES          */
/* 2. wp-block-group__home CLASS   */
/* 3. OTHER STYLING                */

.home {
	.entry-content {
		margin-top: 0;
	}

	.gwf-tagline {

		@media screen and (min-width: 800px) {
			position: relative;
			margin-top: -26px !important;
		}
	}
}
