@charset "UTF-8";

/* 1. VISIBILITY and LAYOUT OF TOC      */
/* 2. CONTENTS OF TOC                   */
/* 3. REPORT CONTENT                    */
/* 4. FOOTNOTES AND SIDENOTES           */

$toc-width: 19rem;

// Everything is wrapped under this. Avoids repeating it.
.fog-of-enactment {


/* 1. VISIBILITY and LAYOUT OF TOC      */
// Styles to control the visibility of the tables of contents.

	// This the page container level, one level below main.
	@include media-breakpoint-up(lg) {
		margin: auto 0;
		//padding-right: 0;

		.row {
			margin-right: 0;
		}
	}

	@include media-breakpoint-up(xl) {
		//margin-right: auto;
		//padding-right: 15px;

		.row {
			//margin-right: -15px;
		}
	}

	// Holder of the .entry-content.
	.nv-single-page-wrap {

		@include media-breakpoint-up(lg) {
			margin-left: $toc-width;
			margin-right: 0;
			padding-right: 0;

			// Should be the cover block at the top.
			.entry-content > *:first-child {
				margin-left: -15px;
				margin-right: -15px;
			}
		}

		@include media-breakpoint-up(xl) {
			max-width: 60% !important;
		}

		@media screen and (min-width: 1300px) {
			max-width: 70% !important;
		}
	}

	// The toc holder.
	nav {
		display: none;

		@include media-breakpoint-up(lg) {
			display: block;
		}
	}



/* 2. CONTENTS OF TOC                   */

  	nav {

		@include media-breakpoint-up(lg) {
			position: fixed;
			left: 0;
			/* we use z-index, to account for cover image clipping the sidebar */
			z-index: 1000;
			overflow: auto;
			width: $toc-width;
			height: 100vh;
			padding: 1rem;
			border-right: 2px solid black;

			.tocToggle {
				//display: none;
			}

			.toc {
				position: relative;

				button {
					display: none;
				}
			}

			ol {
				list-style: none;
				margin-top: 0.5rem;
				margin-left: 0;
				padding-left: 0;

				li {
					font-size: 0.9rem;
					text-transform: uppercase;
					padding: 0.3rem;

					a {
						text-decoration: none;
						color: #111;
			
						&:hover {
						text-decoration: underline;
						}
					}
				}
			}

			details {
				margin-top: 0.5rem;
			}

			details>summary {
				list-style: none;
				cursor: pointer;
			}

			summary::-webkit-details-marker {
				display: none;
			}
		}
	}



/* 3. REPORT CONTENT                    */

	// Remove whitespace between the cover image and the top of the page.
	.entry-content {
		margin-top: 0;
	} 

	dl,
	ol,
	ul {
		max-width: 50rem;
		padding-left: 2rem;
		-webkit-padding-start: 5%;
		//width: 60%
	}

	li {
		//max-width: 45rem;

		p {
			width: 100%;
		}
	}

	table p {
		width: 100%;
		font-size: 0.9rem;
	}

	.nv-content-wrap {
		padding-top: 0;
		margin-top: 0;
	}



/* 4. FOOTNOTES AND SIDENOTES           */

	.sidenote {
		display: none;

		@include media-breakpoint-up(xl) {
			display: block;
			position: relative;
			width: 20%;
			float: right;
			clear: right;
			margin: 0.3rem -24% 1rem 0;
			font-size: 0.8rem;
			vertical-align: baseline;
	
			p,
			li {
				// width: 100%;
				// display: inline;
				// padding-left: 0;
				// font-size: 0.8rem
			}
		}

		@include media-breakpoint-up(xl) {

		}
	}

	.footnotes {

		p,
		li {
			font-size: 0.8rem
		}
  	}

/* FILE END   */
} // Close .fog-of-enactment class wrapper.